.media-object {
  width: 128px;
  height: 128px;
  border-radius: 5px;
}

.media-list {
  text-align: center;
}

@media (min-width: 450px) {
  .media-list {
    text-align: left;
  }
}

.media:first-child {
  margin-top: 15px;
}

a {
  color: #563d7c;
}

a:hover,
a:focus {
  color: #1d1429;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #563d7c;
}
